.InputTextarea {
  min-height: 60px;
  margin-left: 2px;
  border-radius: 4px;
  border: 1px solid #CCC;
  vertical-align: middle;
  text-align: left;
  font: inherit;
  font-size: 14px;
  line-height: 1;
}
