@import "../../variables.scss";

.PrimitivePanel {
  position: relative;
  min-height: 48px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  padding: .5rem .5rem;
  padding-right: 32px;
  background: #FFF;
  border: 1px solid $color-lightgray;
  border-radius: 5px;
  box-shadow: 0 0 0 rgba(0, 0, 0, .5);
  color: $color-darkgray;
}

.PrimitivePanel--has-children {
  .PrimitivePanelControls {
    justify-content: flex-start;
  }
}

.PrimitivePanel__tag {
  width: 100%;
}

.PrimitivePanel__label {
  margin-left: 8px;
  white-space: nowrap;
}
