.PrimitivePanel {
  position: relative;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  padding: .5rem .5rem;
  padding-right: 20px;
  background: #FFF;
  border: 1px solid #999;
  border-radius: 5px;
  box-shadow: 0 0 0 rgba(0, 0, 0, .5);
  color: #333;

  &--dragging {
    box-shadow: 0 0 5px rgba(0, 0, 0, .5);
  }

  &--droppable {
    border-style: dashed;
  }
}

.PrimitivePanel__label {
  margin-left: 8px;
  white-space: nowrap;
}
