@import "../../variables.scss";

.PrimitivePanel {
  min-height: 60px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: .5rem .5rem;
  background: #FFF;
  border: 1px solid $color-lightgray;
  border-radius: $border-radius;
  box-shadow: 0 0 0 rgba(0, 0, 0, .5);
  pointer-events: none;
  color: $color-darkgray;
  user-select: none;

  &--no-result {
    min-height: 40px;
    align-items: center;
  }
}

.PrimitivePanel__fieldset {
  margin: 0;
  padding: 0;
  border: 0;

  &:disabled {
    opacity: .3;
  }
}

.PrimitivePanel__content {
  display: flex;
  align-items: baseline;
  flex-wrap: wrap;
}

.PrimitivePanel--has-children {
  & > .PrimitivePanelControls {
    align-self: flex-start;
  }
}

.PrimitivePanel__tag {
  margin: 2px 0;
  margin-right: 8px;
  font-weight: bold;
}

.PrimitivePanel__children {
  width: 100%;
  margin-top: 5px;
}

.PrimitivePanel__label {
  margin: 3px 8px;
  margin-left: 0;
  white-space: nowrap;
  pointer-events: all;
}

.DragDropItem--status-notOVerlapTarget {
  .PrimitivePanel {
    display: inline-block;
    min-height: auto;
    padding: .2rem 1rem;
  }

  .PrimitivePanel__tag {
    font-weight: normal;
  }

  .PrimitivePanel__label,
  .PrimitivePanelControls,
  .ResultAttribute {
    display: none;
  }
}
