@import "../../variables.scss";

.Docs {
  min-width: 0;
  transition: min-width .3s;
  font-size: 14px;
  pointer-events: all;

  CODE {
    padding: 2px 4px;
    border-radius: $border-radius;
    background: $hlt-blue;
  }
}

.Docs__title {
  margin-top: 0;
}

.Docs__list-title {
  margin: 1.5rem 0;
}

.Docs__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.Doc-prop {
  margin-bottom: 2rem;
}

.Doc-prop__name {
  padding: 0 3px;
  background: $hlt-green;
  box-shadow: 0 0 0 3px $hlt-green;
  border: none;
  border-radius: $border-radius - 3;
  font: inherit;
}

.Doc-prop__value,
.Doc-prop__desc {
  margin: .7rem 0;
}

.Docs--embeded {
  margin-top: 5px;
  padding: .5em;
  border: 2px solid $hlt-orange;
  border-radius: $border-radius;

  .Docs__title,
  .Docs__list-title {
    display: none;
  }

  .Docs-props {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 0;
  }

  .Doc-prop__control {
    margin: .5em 1em .5em 0;
    outline: none;
    cursor: pointer;

    &:focus {
      box-shadow: 0 0 0 3px $hlt-green, 0 0 0 5px $color-darkgray;
    }

    &--current {
      background: $color-darkgray;
      box-shadow: 0 0 0 3px $color-darkgray;
      color: #FFF;

      &:focus {
        box-shadow: 0 0 0 5px $color-darkgray;
      }
    }
  }

  .Doc-prop {
    display: none;
    margin-right: 1em;
    margin-bottom: 0;
  }

  .Doc-prop--current {
    display: block;
  }
}
