@import "../../variables.scss";

.Tabs {
  color: lightseagreen;
}

.Tabs__controls {
  min-width: 200px;
  white-space: nowrap;
}

.Tabs__control {
  padding: 4px 20px;
  background: none;
  border: 1px solid $color-darkgray;
  outline: none;
  font: inherit;
  color: $color-darkgray;
  text-decoration: none;
  cursor: pointer;

  &:first-child {
    border-radius: $border-radius 0 0 $border-radius;
  }

  &:last-child {
    border-radius: 0 $border-radius  $border-radius  0;
  }

  &--active {
    background: $color-darkgray;
    box-shadow: 0 0 5px 1px rgba(0, 0, 0, .5) inset;
    color: #FFF;
    pointer-events: none;
  }
}

.Tabs__control-text {
  .Tabs__control--active & {
    border: none;
  }
}

.Tabs__item {
  display: none;
  padding-top: 24px;

  &--active {
    display: block;
  }
}
