.PrimitivePanelControls {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  color: yellowgreen;
}

.PrimitivePanelControl {
  width: 24px;
  height: 24px;
  margin: 4px;
  padding: 0;
  display: flex;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;
  background: none;
  border: 1px solid #DDD;
  border-radius: 4px;
  font: inherit;
  line-height: 1;
  color: inherit;
  cursor: pointer;

  &--remove {
    color: crimson;
  }
}
