.PrimitivePanelControls {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  color: yellowgreen;
}

.PrimitivePanelControl {
  display: block;
  width: 1em;
  height: 1em;
  padding: 0;
  background: none;
  border: none;
  border-radius: 50%;
  font: inherit;
  line-height: 1;
  color: inherit;
  cursor: pointer;

  &--remove {
    color: crimson;
  }
}
