.App {
  // display: flex;
  // justify-content: space-between;
  padding: 2rem;
  flex-wrap: wrap;
  font-size: 20px;

  input, button {
    margin: .25rem;
    border-radius: 4px;
    border: 1px solid #CCC;
    font: inherit;
  }
}

.App__container {
  padding: 2rem;
  box-sizing: border-box;
  border-left: 1px solid #DDD;

  &:first-child {
    border: none;
  }

  &--Playground {
    flex-grow: 1;
  }
}
