.App {
  display: flex;
  // justify-content: space-between;
  flex-wrap: wrap;
}

.App__container {
  padding: 2rem;
  box-sizing: border-box;
  border-left: 1px solid #DDD;

  &:first-child {
    border: none;
  }

  &--Playground {
    flex-grow: 1;
  }
}
