@import "../../variables.scss";

.App {
  min-width: 1028px;
}

.App__inner {
  display: flex;
}

.App__container {
  padding: 2.5rem $offset;
  box-sizing: border-box;
  flex-basis: 20%;
  border-left: 1px solid #DDD;

  &:first-child {
    border: none;
  }

  &--controlsList {
    max-width: 230px;
  }

  &--constructor {
    flex-grow: 1;
    flex-basis: 40%;
    max-width: 500px;
  }

  &--playground {
    flex-grow: 1;
    flex-basis: 35%;
  }
}

.App__content {
  &--sticky {
    position: sticky;
    top: 20px;
  }
}
