.App {
  display: flex;
  // justify-content: space-between;
}

.App__container {
  padding: 1rem;
  box-sizing: border-box;
  flex-basis: 20%;
  border-left: 1px solid #DDD;

  &:first-child {
    border: none;
  }

  &--constructor {
    flex-grow: 1;
    flex-basis: 40%;
  }

  &--playground {
    flex-grow: 1;
    flex-basis: 40%;
  }
}

.App__content {
  &--sticky {
    position: sticky;
    top: 20px;
  }
}
