@import "../../variables.scss";

.Control {
  display: block;
  margin-bottom: 1rem;
  padding: 4px 20px;
  background: #FFF;
  border: 1px dashed $color-darkgray;
  border-radius: $border-radius;
  font: inherit;
}
