html, body, div, span, h1, h2, h3, h4, h5, h6,
p, a, img, dl, dt, dd, ol, ul, li,
label, article, aside, footer, header, section {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

.l-column:after, .l-wrapper:after, .l-preview-holder:after {
  content: "";
  display: table;
  width: 100%;
}

@font-face {
  font-family: 'Ubuntu Condensed';
  font-style: normal;
  font-weight: 400;
  src: local("Ubuntu Condensed"), local("UbuntuCondensed-Regular"), url(../../assets/fonts/Ubuntu-Condensed/uc.woff) format("woff");
}
@font-face {
  font-family: 'Russo One';
  font-style: normal;
  font-weight: 400;
  src: local("Russo One"), local("RussoOne-Regular"), url(../../assets/fonts/Russo-One/font.woff) format("woff");
}
.slide H1,
.slide H2,
.slide H3,
.slide H4,
.slide H5 {
  /*position: relative;*/
  z-index: 2;
  font-family: "Ubuntu Condensed",sans-serif;
  line-height: 1;
  font-weight: normal;
}

/* map-keys($map-headers) */
.slide h2 {
  margin: 0 0 38.4px;
  font-size: 57.6px;
}

/* map-keys($map-headers) */
.slide h3 {
  margin: 0 0 36.8px;
  font-size: 55.2px;
}

/* map-keys($map-headers) */
.slide h4 {
  margin: 0 0 27.2px;
  font-size: 40.8px;
}

/* map-keys($map-headers) */
.slide h5 {
  margin: 0 0 19.2px;
  font-size: 28.8px;
}

.slide H2 + H3 {
  margin-top: -30px;
  color: #BBB;
}

.slide .free-fly {
  position: absolute;
  top: 45%;
  left: 0;
  right: 0;
  text-align: center;
  font: 90px/1 'Ubuntu Condensed', sans-serif;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
.slide .free-fly--small {
  font-size: 85px;
}
.slide .free-fly .tooltip {
  position: absolute;
  left: 0;
  bottom: -1.9em;
  width: 100%;
  font-size: 30px;
  color: #555555;
}

.sign {
  padding: 0 .5em;
  vertical-align: middle;
  font-size: 3em;
}

/*@import '_browsers';*/
/* Common
--------------------- */
CODE {
  display: inline-block;
  padding: 0 3px;
  background: palegoldenrod;
  border-radius: 4px;
  text-shadow: 1px 1px white;
  line-height: 1.6;
  font-size: 12px;
  font-family: Consolas, Monaco, Lucida Console, monospace;
  color: darkred;
}

IMG {
  height: auto;
  max-width: 100%;
}

/* SVG
--------------------- */
.svg-defs {
  position: absolute;
  left: -1000px;
  visibility: hidden;
}

.svg-text-default {
  font: 5em/1 Georgia;
  font-size: 10vmin;
}

/* Layout
--------------------- */
.l-column {
  width: 49%;
  /*border: 1px dashed #DDD;*/
}
.l-column--left {
  float: left;
}
.l-column--right {
  float: right;
}

.l-wrapper {
  position: relative;
  min-width: 400px;
  max-width: 1200px;
  margin: 50px auto;
  font: 16px/1.5 'Open Sans',sans-serif;
}

.l-preview-holder {
  margin-bottom: 1em;
}

.svg-preview {
  display: block;
  width: 100%;
  height: 300px;
}

.l-code-holder {
  padding: 1em;
  background: #DDD;
}

.code {
  display: block;
  width: 100%;
  height: 200px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border: 0;
}

/* Filters
--------------------- */
.filter {
  margin-bottom: 0.5em;
}

.filter__name {
  display: inline-block;
  padding: 3px 15px;
  background: #CCC;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
}
.filter--current .filter__name {
  border-radius: 5px 5px 0 0;
  cursor: default;
}

.filter__controls {
  display: none;
  margin-bottom: 1em;
  padding: 1em;
  border: 1px solid #DDD;
}
.filter--current .filter__controls {
  display: block;
}

/* Control
--------------------- */
.control__label {
  display: inline-block;
  width: 100px;
  margin-right: 1em;
  text-align: right;
}
