@import "../../variables.scss";

.Contsructor {
  margin-bottom: 1rem;
  color: #999;
}

.Contsructor__container {
  position: relative;
  min-height: 100px;
  padding: 4px;
  border: 2px dashed #DDD;
  border-radius: $border-radius;
}

.Contsructor__item {
  margin-bottom: .75rem;

  &:last-of-type {
    margin-bottom: 0;
  }
}
