@import "../../variables.scss";

.Contsructor {
  min-width: 350px;
  margin-bottom: 1rem;
  color: $color-lightgray;
}

.Contsructor__container {
  position: relative;
  min-height: 100px;
  padding: 12px;
  border: 2px dashed;
  border-radius: $border-radius;
}

.Contsructor__item {
  margin-bottom: 12px;

  &:last-of-type {
    margin-bottom: 0;
  }
}
