@import "../../variables.scss";

.Header {
  position: relative;
  background: #000;

  &::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: -5px;
    height: 5px;
    background-color: gold;
  }
}

.Header__content {
  padding: 1.5rem $offset;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: Georgia, serif;
  line-height: 1;
  color: #FFF;
}

.Header__title {
  margin: 0;
  font-weight: normal;
}

.Header__logo {
  font-size: 30px;
  text-decoration: none;
  color: inherit;
}

.Header__nav {
  position: relative;
  display: flex;

  &::before {
    position: absolute;
    content: "";
    z-index: 10;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-radius: $border-radius;
    border: 1px dashed #FFF;
    mix-blend-mode: difference;
    pointer-events: none;
  }
}

.Header__nav-link {
  position: relative;
  padding: 7px 20px;
  border-right: 1px dashed;
  text-decoration: none;
  color: #FFF;

  &:last-child {
    border: none;
  }

  &--current {
    color: #000;

    &::before {
      content: "";
      position: absolute;
      z-index: 0;
      top: -7px;
      right: -8px;
      bottom: -6px;
      left: -8px;
      background: $hlt-gold;
      border-radius: 12px 17px / 5px 20px;
      transform: skewX(0deg) skewY(-2deg);
    }
  }

  &-presets--current {
    &::before {
      background: $hlt-blue;
      transform: skewX(-20deg) skewY(2deg);
    }
  }

  &-docs--current {
    &::before {
      background: $hlt-green;
      transform: skewX(-10deg) skewY(-2deg);
    }
  }
}

.Header__nav-text {
  position: relative;
}
