@import "../../variables.scss";

.SvgCode {
  position: relative;
  z-index: 1;
  background: #FFF;
  border: 2px solid transparent;
  border-width: 0 2px;
  font-size: 14px;

  &--opened {
    border-width: 2px;
    border-color: #CCC;
    border-radius: 4px;
    box-shadow: 0 5px 5px rgba(0, 0, 0, .5);
  }
}

.SvgCode__container {
  max-height: 0;
  overflow: hidden;
  transition: all .25s;

  .SvgCode--opened & {
    max-height: 500px;
  }
}

.SvgCode__content {
  position: relative;
  padding: 1rem 1rem .75rem;
}

.SvgCode__close-button {
  position: absolute;
  top: 4px;
  right: 4px;
  width: 20px;
  height: 20px;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: none;
  border: none;
  border-radius: 4px;
  color: #CCC;
  cursor: pointer;

  &:focus {
    box-shadow: 0 0 0 2px;
  }
}

.SvgCode__text {
  margin-top: 0;
  margin-right: 16px;

  P:first-child {
    margin-top: 0;
  }

  CODE {
    padding: 0 3px;
    background: $hlt-gold;
    border-radius: 3px;
  }
}

.SvgCode__InputTextarea {
  display: block;
  width: 100%;
  height: 300px;
  margin: 0;
  margin-top: 1rem;
  padding: .5rem;
  box-sizing: border-box;
  border: 1px solid #DDD;
  resize: vertical;
  tab-size: 24px;
  font: inherit;
  font-size: 16px;
}

.SvgCode__control {
  font: inherit;
  color: inherit;
  cursor: pointer;

  &:hover {
    border-color: $color-green;
    opacity: 1;
    color: $color-green;
  }
}

.SvgCode__control--example {
  margin-top: .75em;
  padding: 0;
  background: none;
  border: none;
  border-bottom: 1px dashed;
}

.SvgCode__control--edit {
  position: absolute;
  height: 2rem;
  right: 2px;
  bottom: calc(-2rem - 4px);
  margin-top: 4px;
  padding: 0 1rem;
  border: 2px solid #CCC;
  background: #FFF;
  border-radius: 4px;
  transition: all .15s;
  opacity: .8;

  .SvgCode--opened & {
    bottom: calc(-2rem);
    border: 2px solid #CCC;
    border-top: none;
    border-radius: 0 0 4px 4px;
    box-shadow: 0 5px 5px rgba(0, 0, 0, .5);
    opacity: 1;
  }
}
