@import "../../variables.scss";

.Palette {
  UL {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
  }

  LI {
    margin-right: 1rem;
    padding: .3rem;
  }
}

.hlt {
  background: #DDD;

  &--red {
    background: $hlt-red;
  }

  &--orange {
    background: $hlt-orange;
  }

  &--gold {
    background: $hlt-gold;
  }

  &--green {
    background: $hlt-green;
  }

  &--blue {
    background: $hlt-blue;
  }
}
