html, body, div, span, h1, h2, h3, h4, h5, h6,
p, a, img, b, i, dl, dt, dd, ol, ul, li,
label, article, aside, footer, header, section {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
body {
    line-height: 1;
    }
ol, ul {
    list-style: none;
    }
