    .l-wrapper {
        position: relative;
        min-width: 400px;
        max-width: 800px;
        margin: 50px auto;
        padding-left: 100px;
        border: 1px solid;
        font: 16px/1.5 'Open Sans',sans-serif;
        }
    .browser-list {
        position: relative;
        min-height: 60px;
        margin: 2em 0 4em;
        }
        .browser {
            position: absolute;
            left: -60px;
            top: -1em;
            }
        .browser-name {
            font-size: 20px;
            font-weight: bold;
            }
        .bugs-list__title {
            display: inline-block;
            padding: 0 5px;
            background: skyblue;
            font-weight: bold;
            }
    .text--no-support {
        font-style: italic;
        color: tomato;
        }

