@import '_reset';
@import '_mixins';
@import '_fonts';
/*@import '_browsers';*/

/* Common
--------------------- */

CODE {
    display: inline-block;
    padding: 0 3px;
    background: palegoldenrod;
    border-radius: 4px;
    text-shadow: 1px 1px white;
    line-height: 1.6;
    font-size: 12px;
    font-family: Consolas, Monaco, Lucida Console, monospace;
    color: darkred;
    }

IMG {
    height: auto;
    max-width: 100%;
    }

/* SVG
--------------------- */
.svg-defs {
    position: absolute;
    left: -1000px;
    visibility: hidden;
    }
    .svg-text-default {
        font:  5em/1 Georgia;
        font-size:  10vmin;
        }
/* Layout
--------------------- */
.l-column {
    @include clear;
    width: 49%;
    /*border: 1px dashed #DDD;*/
    &--left {
        float: left;
        }
    &--right {
        float: right;
        }
    }

.l-wrapper {
    @include clear;
    position: relative;
    min-width: 400px;
    max-width: 1200px;
    margin: 50px auto;
    font: 16px/1.5 'Open Sans',sans-serif;
    }
    .l-preview-holder {
        @include clear;
        @include margb;
         }
         .svg-preview {
            display: block;
            width: 100%;
            height: 300px;
            }

    .l-code-holder {
        padding: 1em;
        background: #DDD;
        }
        .code {
            display: block;
            width: 100%;
            height: 200px;
            box-sizing: border-box;
            border:  0;
            }
/* Filters
--------------------- */
.filter__name {
    @include margb(.5);
    background: gold;
    font-weight: bold;
    cursor: pointer;
    }
 .filter__controls {
     display: none;
     @include margb;
     padding: 1em;
     border: 1px solid #DDD;

     .filter--current & {
        display: block;
        }
     }

/* Control
--------------------- */

.control {
    &__label {
        display: inline-block;
        width: 150px;
        margin-right: 1em;
        text-align: right;
    }
}
