.FilterConstructorControls {
  margin-left: 8px;
  color: yellowgreen;
}

.FilterConstructorControl {
  display: block;
  width: 1em;
  height: 1em;
  padding: 0;
  background: none;
  border: none;
  border-radius: 50%;
  font: inherit;
  line-height: 1;
  color: inherit;
  cursor: pointer;
}
