.FilterConstructorControls {
  position: absolute;
  right: 100%;
  top: 50%;
  margin-right: 6px;
  transform: translateY(-50%);
  color: yellowgreen; }

.FilterConstructorControl {
  width: 1em;
  height: 1em;
  padding: 0;
  background: #333;
  border: none;
  border-radius: 50%;
  font: inherit;
  line-height: 1;
  color: #FFF; }
