@import "../../variables.scss";

.Footer {
  border-top: 1px solid #DDD;
  padding: 2rem $offset;
}

.Footer__content {
  display: flex;
  justify-content: space-between;
}

.Footer__link {
  margin-left: 1rem;

  &:first-child {
    margin-left: 0;
  }
}

.Footer__link--read {
  margin-right: auto;
}
