.FilterContsructor {
  margin-bottom: 1rem;
  color: #999;
}

.FilterContsructor__item {
  margin-bottom: .75rem;
  margin-left: 2rem;
  max-width: 200px;
  display: flex;

  outline: none;

  &:last-child {
    margin-bottom: 0;
  }
}
