.FilterContsructor {
  margin-bottom: 1rem;
  color: #999;
}

.FilterContsructor__container {
  position: relative;
  min-height: 100px;
  padding: 4px;
  border: 1px solid #DDD;
  border-radius: 5px;
}

.FilterContsructor__placeholder {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #efefef;
  border-radius: 5px;
}

.FilterContsructor__item {
  margin-bottom: .75rem;
  display: flex;

  outline: none;
  outline: 2px solid red;

  &:last-child {
    margin-bottom: 0;
  }

  &--dragging {
    overflow: hidden;
    outline: 10px solid green;
  }
}
