@import "../../variables.scss";

.RadioList {
  margin-bottom: .5rem;
  text-align: right;
}

.RadioList__label {
  margin-left: .25rem;
  color: $color-lightgray;
}

.RadioList__label-text {
  padding: .25em .35em;
  border-radius: $border-radius;
  cursor: pointer;

  &:hover {
    color: #000;
  }

  :checked + & {
    background: $hlt-orange;
    color: #000;
    pointer-events: none;
  }
}
