HTML {
  font-size: 16px;
}

BODY {
  margin: 0;
  padding: 0;
  font: 1rem/1.4 Trebuchet MS, Arial, sans-serif;
}



.tilt-root {
  display: block;

  width: 200px;
  height: 200px;

  margin: 0px auto;
  margin-bottom: 75px;

  line-height: 200px;
  text-align: center;

  color: white;
  font-size: 36px;

  background: linear-gradient(135deg, #0099F7 , #F11712);
  transform-style: preserve-3d;
  transform: perspective(500px);
  }

.tilt-root > span {
    position: relative;
    display: block;
    transform: translateZ(50px) scale(0.7);
}

.tilt-root > span:after {
    content: "GitHub";
    position: absolute;
    color: white;
    font-size: 18px;
    top: 36px;
    left: 50%;
    transform: translateX(-50%);

    opacity: 0.8;

    transition: 0.3s ease all;
}

.tilt-root > span:before {
    content: "View source";
    position: absolute;
    color: white;
    font-size: 18px;
    top: 36px;
    left: 50%;
    transform: translateX(-50%) translateY(-10px);

    opacity: 0;

    display: inline-block;
    width: 100%;

    transition: 0.3s ease all;
}

.tilt-root:hover > span:after {
    opacity: 0;
    transform: translateX(-50%) translateY(10px);
}

.tilt-root:hover > span:before {
    opacity: 0.8;
    transform: translateX(-50%);
}

.tilt-root > span > span {
    display: block;
    font-size: 12px;
}

.tilt-root:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #333;
    box-shadow: 0 20px 70px -10px rgba(51, 51, 51, 0.7), 0 50px 100px 0 rgba(51, 51, 51, 0.2);
    z-index: -1;
    transform: translateZ(-50px);
    transition: .3s;
}
