/* stylelint-disable no-descending-specificity */

@import "./variables.scss";

HTML {
  font-size: 16px;
}

BODY {
  margin: 0;
  padding: 0;
  font: 1rem/1.4 Trebuchet MS, Arial, sans-serif;
}

A {
  color: $color-text-blue;

  &:hover {
    text-decoration: none;
  }
}

A,
INPUT,
BUTTON,
TEXTAREA,
SELECT {
  &:focus {
    outline: none;
    box-shadow: 0 0 0 2px $color-green;
  }
}

.visuallyhidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
