$border-radius: 4px;

$color-darkgray: #333;
$color-gray: #999;
$color-lightgray: #CCC;
$color-smoke: #DDD;
$color-lightsmoke: #EEE;

$color-text-red: hsl(335, 100%, 50%);
$color-text-orange: hsl(34, 100%, 50%);
$color-text-gold: hsl(50, 80%, 60%);
$color-text-green: hsl(90, 100%, 35%);
$color-text-blue: hsl(210, 100%, 40%);

$hlt-red: hsl(355, 100%, 80%);
$hlt-orange: hsl(34, 100%, 75%);
$hlt-gold: hsl(50, 100%, 73%);
$hlt-green: hsl(100, 90%, 77%);
$hlt-blue: hsl(200, 90%, 81%);
