$border-radius: 4px;

$offset: 1.5rem;

$color-darkgray: #333;
$color-midgray: #555;
$color-gray: #999;
$color-lightgray: #CCC;
$color-smoke: #DDD;
$color-lightsmoke: #EEE;
$color-green: hsl(80, 75%, 50%);

$color-text-blue: steelblue;

$hlt-red: hsl(355, 100%, 80%);
$hlt-orange: hsl(34, 100%, 75%);
$hlt-gold: hsl(50, 100%, 73%);
$hlt-green: hsl(80, 95%, 70%);
$hlt-cold-green: hsl(100, 90%, 77%);
$hlt-blue: hsl(200, 90%, 81%);
